<div class="container" ng-include="'views/header.html'"></div>
<div class="container text-center">
    <div class="col-md-4 col-md-offset-4">
        <img src="../img/chudooder.png" class="avatar" width="128"/>

        <div class="about">Hey, I'm Chudooder! osu!replay is a one-man effort to bring circle-clicking data to the masses. If you'd like to help out with keeping the servers running, please consider donating; your help would be very much appreciated. Leave your osu! username if you'd like some possible extra convenience features in the future. (Automatic parsing, maybe?) You can also contact me at osuparse@gmail.com.
        </div>

        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="5CQGSMXD6V7RG">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>
</div>