<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">osu!replay</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#/upload">Upload</a></li>
        <li><a href="#/search">Search</a></li>
        <li><a href="#/about">About</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
  <div class="container-fluid notice">
    May 19: PP calculations are now included in all future replays! Resubmitted replays will be reparsed and updated.
  </div>
</nav>