<div ng-include="'views/header.html'"></div>

<div class="container-fluid">
  <div id="search-params">
    <div ng-repeat="i in inputs" ng-if="$index%3 == 0"class="row search-row">
      <div class="col-sm-4">
        <label>{{inputs[$index].name}}</label>
        <input on-enter="search()" type="text" ng-model="inputs[$index].value" class="form-control" placeholder="{{inputs[$index].name}}">
      </div>
      <div class="col-sm-4" ng-if="inputs.length > ($index + 1)">
        <label>{{inputs[$index+1].name}}</label>
        <input on-enter="search()" type="text" ng-model="inputs[$index+1].value" class="form-control" placeholder="{{inputs[$index+1].name}}">
      </div>
      <div class="col-sm-4" ng-if="inputs.length > ($index + 2)">
        <label>{{inputs[$index+2].name}}</label>
        <input on-enter="search()" type="text" ng-model="inputs[$index+2].value" class="form-control" placeholder="{{inputs[$index+2].name}}">
      </div>
    </div>
    <div class="row search-row">
      <div class="col-sm-4 col-sm-offset-4">
        <div ng-disabled="formsEmpty()" ng-click="search()" class="btn btn-default btn-block">
          Search
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="results-error" ng-if="searchError">
    {{searchError}}
  </div>

  <div id="results" ng-repeat="rp in replays">
    <div class="container replay-entry" ng-click="selectReplay(rp)">
      <div class="col-xs-5">
        <h4>{{rp.beatmap.artist}} - {{rp.beatmap.title}} [{{rp.beatmap.version}}] {{modString(rp)}}</h4>
        <a target="_blank" ng-href="https://osu.ppy.sh/b/{{rp.beatmap.beatmap_id}}">
          <span style="font-size:1.5em;" title="Beatmap Page" class="glyphicon glyphicon-save-file"></span>
        </a>
        <small> Mapped by {{rp.beatmap.creator}} </small>
      </div>
      <div class="col-xs-2">
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              HP: {{rp.beatmap.hp | number:1}}
            </div>
            <div class="row">
              CS: {{rp.beatmap.cs | number:1}}
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row"> 
              AR: {{rp.beatmap.ar | number:1}}
            </div>
            <div class="row"> 
              OD: {{rp.beatmap.od | number:1}}
            </div>
          </div>
        </div>
        <div class="row"> 
          Stars: {{rp.beatmap.sd | number:2}}
        </div>
      </div>
      <div class="col-xs-5">
        <div class="row">
          <div class="col-sm-4">
            <div class="rank">
              {{rank(rp)}}
            </div>
            <div class="pp" ng-if="rp.pp != -1">
              {{rp.pp}}pp
            </div>
          </div>
          <div class="col-sm-4">
            <div class="row">
              <a target="_blank" ng-href="http://osu.ppy.sh/u/{{rp.player}}">
                <span class="glyphicon glyphicon-user"></span>
                {{rp.player}}
              </a>
            </div>
            <div class="row" title="Date">
              <span class="glyphicon glyphicon-time"></span>
              {{convertTime(rp.time_stamp)}}
            </div>
            <div class="row" title="Accuracy">
              <span class="glyphicon glyphicon-screenshot"></span>
              {{accuracy(rp) | number:2}}%
            </div>
          </div>
          <div class="col-sm-4">
            <div class="row" title="Total Score">
              <span class="glyphicon glyphicon-signal"></span>
              {{rp.score | number}}
            </div>
            <div class="row" title="Max Combo">
              <span class="glyphicon glyphicon-music"></span>
              {{rp.max_combo | number}}x
            </div>
            <div class="row" title="300/100/50 - Miss">
              <span class="glyphicon glyphicon-ok"></span>
              {{rp.num_300}} / {{rp.num_100}} / {{rp.num_50}}
              <span class="glyphicon glyphicon-remove"></span>
              {{rp.num_miss}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>