<div class="container" ng-include="'views/header.html'"></div>
<div class="container">
  <div class="upload">
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <span class="file-input btn-lg btn-block btn-primary btn-file">
          {{fileName}}
          <input accept=".osr" type="file" name="userReplay" file-model="selectedFile" custom-on-change="updateFileText"/>
        </span>
      </div>
      <div class="col-md-4">
        <div ng-click="uploadFile()" class="btn-lg btn-parse btn-block btn-success">Parse!</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div vc-recaptcha 
          ng-model="captchaResponse"
          key="'6LeHWB4TAAAAAAC9a1v0k6AeSVTJrjXBeA-pbejm'">
        </div>
      </div>
    </div>
    <div class="processing">
      <p>{{error}}</p>
      <img ng-if="processing" src="../img/processing.gif"/>
    </div>
  </div>

  <hr>

  <div class="instructions">
    <h3> Obtaining Replay (.osr) Files </h3>
    <div class="row">
      <div class="col-md-6">
        <h4> From in-game </h4>
        <div><img src="../img/ingame.png"/></div>
        <p>Select a score from any of the ranking lists, then press <strong>F2</strong> on the results screen. The replay will be exported to the Replays folder in your game's directory.</p>
      </div>
      <div class="col-md-6">
        <h4> From the osu! website </h4>
        <img src="../img/website.png"/>
        <p>From any beatmap page, click the link to the left of a score entry to download the file.</p>
      </div>
    </div>
  </div>
</div>