body {
    /* Required for Bootstrap header */
    padding-top: 70px;
    font-family: 'Lato';
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* Search page divs */
#search-params {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.search-row {
    margin-top: 5px;
    margin-bottom: 5px;
}

.replay-entry {
    background-color: #fafafa;
    margin: 10px auto;
    padding: 10px;
    box-shadow: 0px 3px 4px #ccc;
}