body {
    /* Required for Bootstrap header */
    padding-top: 70px;
    font-family: 'Lato';
}

.upload {
    text-align: center;
}

.instructions {
    text-align: center;
}

.instructions img {
    border: 1px solid #aaa;
}

.processing {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 64px;
}

.processing img {
    width: 24px;
    height: 24px;
}

.btn-parse,
.btn-file {
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Hides the default file browse button */
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* About page */
.avatar {
    border-radius: 7px;
    margin: 10px;
}

.about {
    text-align: justify;
    margin-bottom: 20px;
}

/* Search page divs */
#search-params {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.search-row {
    margin-top: 5px;
    margin-bottom: 5px;
}

.results-error {
    text-align: center;
}

.replay-entry {
    background-color: #f8f8f8;
    margin: 10px auto;
    padding: 10px;

    transition: box-shadow 0.25s;
    box-shadow: 0px 3px 4px #ccc;
}

.replay-entry:hover {
    box-shadow: 0px 3px 8px #FF85CA;
}

.plot-box {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0px 3px 4px #ccc;
    background-color: #f8f8f8;
    color: #666;
    font-size: 16px;
}

/* replay details page */
.plot-responsive {
    position: relative;
    display: block;
    overflow: hidden;
    font-size: 12px;
}

.keycount {
    display: inline-block;
    width: 40px;
    border-radius: 3px;
    border: 1px solid #aaa;
    font-size: 18px;
    text-align: center;
}

.hitmap-line {
    fill: none;
    stroke: #AAA;
    stroke-width: 1px;
    opacity: 0.4;
}

.axis {
    font-size: 10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path,
.x.axis line {
    fill: none;
    stroke: #666666;
    stroke-width: 1px;
}

.y.axis path,
.y.axis line {
    fill: none;
    stroke: #666666;
    stroke-width: 1px;
}