body {
    /* Required for Bootstrap header */
    padding-top: 70px;
    font-family: 'Lato';
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* Search page divs */
#search-params {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.search-row {
    margin-top: 5px;
    margin-bottom: 5px;
}

.results-error {
    text-align: center;
}

.replay-entry {
    background-color: #f8f8f8;
    margin: 10px auto;
    padding: 10px;

    transition: box-shadow 0.25s;
    box-shadow: 0px 3px 4px #ccc;
}

.replay-entry:hover {
    box-shadow: 0px 3px 8px #FF85CA;
}

.plot-box {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0px 3px 4px #ccc;
    background-color: #f8f8f8;
    color: #666;
    font-size: 16px;
}

/* replay details page */
.plot-responsive {
    display: block;
    overflow: hidden;
    font-size: 12px;
}

.axis {
    font-size: 10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path,
.x.axis line {
    fill: none;
    stroke: #666666;
    stroke-width: 1px;
}

.y.axis path,
.y.axis line {
    fill: none;
    stroke: #666666;
    stroke-width: 1px;
}